.page {
  transition: opacity 300ms ease-in;
  //opacity: 0;
}

.page-enter {
  opacity: 1;
  //transition: opacity 300ms ease-in;
}

.page-enter-active {
  opacity: 1;
  //transition: opacity 300ms ease-in;
}

.page-exit {
  opacity: 0;
  //transition: opacity 300ms ease-in;
}

.page-exit-active {
  opacity: 0;
  //transition: opacity 300ms ease-in;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
