.movie-page {
  &__bg-poster {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0;
    z-index: -1;
    filter: blur(1px);
  }

  &__header {
    overflow: hidden;
    min-height: 510px;
    background-color: rgba($color: #111011, $alpha: 0.9);
  }
}